<div class="row file-list">
  <h3>Imported Files</h3>
  <table>
    <% files.each do |u| %>
      <tr>
        <!-- <td>TODO: Icon based on content type</td> -->
        <!-- <td>TODO: Link to download file</td> -->
      </tr>
    <% end %>
  </table>
</div>