<table>
  <tr>
    <th></th>
    <th>File</th>
    <th></th>
  </tr>
  <% pending_uploads.each do |u| %>
    <tr>
      <td><%= image_tag(u.private_url) %></td>
      <td><%= link_to u.filename, u.private_url %></td>
      <td><%= u.state.titlecase %></td>
    </tr>
  <% end %>
</table>
