body {
  font-family: Helvetica;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: sans-serif;
  margin: 0 0 1em;
}

a {
  color: #008cba;
  text-decoration: none;

  &:active, &:visited {
    color: #008cba;
  }

  &:hover {
    color: #007095;
    text-decoration: underline;
  }
}

.button-bar {
  margin: 0 0 2em;
}

.button {
  background-color: #008cba;
  border: 1px solid #007095;
  color: #fff;
  cursor: pointer;
  display: block-inline;
  font-family: sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding: .5em;
  margin: 0 .5em 0 0;

  &:active, &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #007095;
    color: #fff;
    text-decoration: none;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }

    th {
      background: #eee;
      padding: .5em;

      &:first-child {
        text-align: left;
      }
    }

    td {
      padding: .5em;

      &.controls {
        a {
         margin-left: 1em;
        }
      }
    }
  }
}

form {
  .row {
    overflow: auto;
    width: 30em;

    label {
      display: block;
      float: left;
      font-weight: bold;
      margin: .2em 5% 0 0;
      width: 10%;
    }

    input {
      outline: none;
    }

    input[type="text"] {
      display: block;
      float: left;
      padding: .2em;
      width: 80%;
    }
  }
}

.file-list {
  margin: 1em 0 1em;

  table {
    width: 100%;
  }
}
